In [1]:
# References: 
# 10 minutes to Pandas: https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html
# Docs - https://pandas.pydata.org/pandas-docs/stable/reference/index.html
# Datacamp cheat sheet: http://datacamp-community-prod.s3.amazonaws.com/dbed353d-2757-4617-8206-8767ab379ab3

In [2]:
# Imports
import pandas as pd
import numpy as np
#path = 'C:\\Users\\K\\AIDeepDiveMaterials\\' 
path = 'C:\\Users\\K\\AIDeepDiveMaterials\\' # Replace with the folder containing the materials for this class
pd.__version__

'0.25.0'

In [3]:
# Pandas
# Tabular and human-friendly (excel/SQL-like interface)
# Homogeneous or heterogeneous data
# Row and column labels!
# Similarities to R's data.frame...but with more

In [4]:
# Efficiency gains vs. base python

#pandas_fun = pd.Series(np.arange(10000))

#% timeit pandas_fun*500 # microseconds (us) vs. milliseconds (ms)```

In [5]:
# Pandas Series & DataFrames (2 primary data structures)
# https://pandas.pydata.org/pandas-docs/stable/getting_started/dsintro.html#dsintro

my_series = pd.Series([1,2,np.nan,5,4])

print(my_series)
print(type(my_series))

0    1.0
1    2.0
2    NaN
3    5.0
4    4.0
dtype: float64
<class 'pandas.core.series.Series'>

In [6]:
my_series.values # converts to numpy array

array([ 1.,  2., nan,  5.,  4.])

In [7]:
# DataFrame 

my_df = pd.DataFrame(np.random.randn(6,4),columns=list('ABCD')) # created from a 2D numpy array, could use list of lists

print()
print(my_df)
print(type(my_df))

          A         B         C         D
0  0.242639  2.213183  0.364270 -0.750058
1 -0.265967 -0.227525  0.249134  1.147312
2  0.646018  0.154916  0.821289 -1.050599
3 -0.060731 -2.389101  0.776606 -0.552962
4  0.238124 -2.132403  1.339932  0.865274
5 -1.197446  0.790152 -0.511273  0.760542
<class 'pandas.core.frame.DataFrame'>

In [8]:
my_df.values # will convert to numpy array regardless of how created

array([[ 0.2426385 ,  2.21318334,  0.36426969, -0.75005847],
       [-0.26596709, -0.22752461,  0.24913389,  1.14731237],
       [ 0.6460179 ,  0.15491555,  0.82128929, -1.05059939],
       [-0.06073139, -2.38910063,  0.77660557, -0.55296159],
       [ 0.23812434, -2.13240341,  1.33993206,  0.86527423],
       [-1.1974462 ,  0.7901522 , -0.51127301,  0.76054164]])

In [9]:
print(my_df['A'])
type(my_df['A']) # an individual column of a dataframe is a pandas series

0    0.242639
1   -0.265967
2    0.646018
3   -0.060731
4    0.238124
5   -1.197446
Name: A, dtype: float64

pandas.core.series.Series

In [10]:
# Index - row labels
print(my_series.index)

my_df.index

RangeIndex(start=0, stop=5, step=1)

RangeIndex(start=0, stop=6, step=1)

In [11]:
print(my_df.index.values)

[0 1 2 3 4 5]

In [12]:
# Indicating indices on creation
my_series=pd.Series([1,2,np.nan,5,4], index=list('ABCDE'))
print(my_series)

my_df=pd.DataFrame(np.random.randn(6,4),columns=list('ABCD'), index=list('ABCDEF'))
print()
print(my_df)

A    1.0
B    2.0
C    NaN
D    5.0
E    4.0
dtype: float64

          A         B         C         D
A -1.440864 -0.212805 -0.631796  1.714203
B  0.011198  0.453076 -0.115698  0.837443
C  0.803445 -0.175267 -1.089663 -0.865129
D -0.464006  0.588425 -1.479763  0.123145
E -0.506060  0.024390 -0.825270 -2.211583
F  1.657499  1.565629 -0.319988 -0.156239

In [13]:
# Columns
my_df.columns # [0,..,3] if automatically assigned

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
my_series.name # returns none - unnamed series

In [15]:
my_series.name='MyFavouriteSeries'
my_series.name

'MyFavouriteSeries'

In [16]:
# Alternative ways to create a DataFrame
# Create a dataframe from a dictionary (or a json file)
keys=list('ABCD')
vals= np.random.randn(6,4)
my_dict = dict(zip(keys, vals))
print(my_dict)
print()

print(pd.DataFrame(my_dict))

{'A': array([-0.70618829, -0.63724259,  0.26033238,  1.32426821]), 'B': array([ 1.182862  , -0.76788317, -1.10271269,  1.36320044]), 'C': array([ 0.29311821,  0.37629731,  0.73145825, -0.52532605]), 'D': array([-0.08585954,  1.27346556,  0.25941812,  1.55368166])}

          A         B         C         D
0 -0.706188  1.182862  0.293118 -0.085860
1 -0.637243 -0.767883  0.376297  1.273466
2  0.260332 -1.102713  0.731458  0.259418
3  1.324268  1.363200 -0.525326  1.553682

In [17]:
# SQL database: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html
# Interfaces well with excel, accomodates multiple sheets: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

In [18]:
# Read-in from csv
# Reference: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
df = pd.read_csv(path+'SPTSXComposite.csv') # path defined in cell 2

In [19]:
# Viewing DataFrames
df.shape # (rows, columns)

(132, 6)

In [20]:
df.head() # View first 5 rows

,Name,Ticker,TotalAssets,TotalRevenue,GeographicSegments,PrimarySector
0,Agnico Eagle Mines Limited (NYSE:AEM),NYSE:AEM,10715.5,2990.0,5.0,Materials
1,Air Canada (TSX:AC),TSX:AC,19197.0,18065.0,5.0,Industrials
2,Alamos Gold Inc. (TSX:AGI),TSX:AGI,4455.5,889.4,4.0,Materials
3,Algonquin Power & Utilities Corp. (TSX:AQN),TSX:AQN,12811.6,2247.9,2.0,Utilities
4,Alimentation Couche-Tard Inc. (TSX:ATD.B),TSX:ATD.B,30426.3,79562.8,3.0,Consumer Staples

In [21]:
df.tail() # Last 5

,Name,Ticker,TotalAssets,TotalRevenue,GeographicSegments,PrimarySector
127,West Fraser Timber Co. Ltd. (TSX:WFT),TSX:WFT,4791.0,6118.0,5.0,Materials
128,WestJet Airlines Ltd. (TSX:WJA),TSX:WJA,6758.1,4728.4,4.0,Industrials
129,Wheaton Precious Metals Corp. (TSX:WPM),TSX:WPM,8828.6,1083.5,9.0,Materials
130,WSP Global Inc. (TSX:WSP),TSX:WSP,7766.6,7908.1,8.0,Industrials
131,Yamana Gold Inc. (TSX:YRI),TSX:YRI,10933.9,2454.1,5.0,Materials

In [22]:
# Column names
df.columns

Index(['Name', 'Ticker', 'TotalAssets', 'TotalRevenue', 'GeographicSegments',
       'PrimarySector'],
      dtype='object')

In [23]:
# Current index
df.index

RangeIndex(start=0, stop=132, step=1)

In [24]:
# Aside - index.values = numpy array
df.index.values[:5]

array([0, 1, 2, 3, 4], dtype=int64)

In [25]:
# Set new index
df.Ticker.is_unique    # Check series for uniqueness

True

In [26]:
df = df.set_index('Ticker')  # Set ticker as new index
print(df.index)

Index(['NYSE:AEM', 'TSX:AC', 'TSX:AGI', 'TSX:AQN', 'TSX:ATD.B', 'TSX:AP.UN',
       'TSX:ALA', 'TSX:ACO.X', 'TSX:ACB', 'TSX:BTO',
       ...
       'TSX:TIH', 'TSX:TOU', 'TSX:RNW', 'TSX:VET', 'NYSE:WCN', 'TSX:WFT',
       'TSX:WJA', 'TSX:WPM', 'TSX:WSP', 'TSX:YRI'],
      dtype='object', name='Ticker', length=132)

In [27]:
df.head()

,Name,TotalAssets,TotalRevenue,GeographicSegments,PrimarySector
Ticker,,,,,
NYSE:AEM,Agnico Eagle Mines Limited (NYSE:AEM),10715.5,2990.0,5.0,Materials
TSX:AC,Air Canada (TSX:AC),19197.0,18065.0,5.0,Industrials
TSX:AGI,Alamos Gold Inc. (TSX:AGI),4455.5,889.4,4.0,Materials
TSX:AQN,Algonquin Power & Utilities Corp. (TSX:AQN),12811.6,2247.9,2.0,Utilities
TSX:ATD.B,Alimentation Couche-Tard Inc. (TSX:ATD.B),30426.3,79562.8,3.0,Consumer Staples

In [28]:
# Indicate the column name to use as the index when reading in the CSV (index_col=)
# Limit the columns read in, this saves space (usecols=)

print(pd.read_csv(path+'SPTSXComposite.csv',index_col='Ticker',usecols=['Name', 'PrimarySector','Ticker']).head(3))

                                           Name PrimarySector
Ticker
NYSE:AEM  Agnico Eagle Mines Limited (NYSE:AEM)     Materials
TSX:AC                      Air Canada (TSX:AC)   Industrials
TSX:AGI              Alamos Gold Inc. (TSX:AGI)     Materials

In [29]:
# Datatypes
df.dtypes

Name                   object
TotalAssets           float64
TotalRevenue          float64
GeographicSegments    float64
PrimarySector          object
dtype: object

In [30]:
# Converting types
df = df.astype({'PrimarySector':'category', 'TotalAssets':'float32', 'TotalRevenue':'float32'})
# {Column_name: datatype,...}
df.dtypes

Name                    object
TotalAssets            float32
TotalRevenue           float32
GeographicSegments     float64
PrimarySector         category
dtype: object

In [40]:
# Exercise
# Important: Create a copy of "df" and assign it a different variable name (hint: think NumPy) 

new_df = df.copy()

# Perform the following steps using this new dataframe...

In [41]:
# Change the type of "TotalAssets" to int

new_df = new_df.astype({'TotalAssets':'int'})
print(new_df.dtypes)
    
new_df.TotalAssets = new_df.TotalAssets.astype('int')  # alternative approach when you only need to change the dtype of one column

# Check that it worked 
print(new_df.dtypes)

Name                    object
TotalAssets              int32
TotalRevenue           float32
GeographicSegments     float64
PrimarySector         category
dtype: object
Name                    object
TotalAssets              int32
TotalRevenue           float32
GeographicSegments     float64
PrimarySector         category
dtype: object

In [42]:
# Make "Name" the index instead of "Ticker"
new_df = new_df.set_index('Name') # Note - set_index replaces and drops the current ticker

# In order to avoid replacing and removing "Ticker", do the following INSTEAD:
#new_df = new_df.reindex(df.Name)

In [44]:
# Set the columns of the new dataframe equal to list('ABCDE')
new_df.columns = list('ABCD')

In [45]:
# Check the top 5 rows and all of the column names
new_df.head()

,A,B,C,D
Name,,,,
Agnico Eagle Mines Limited (NYSE:AEM),10715,2990.000000,5.0,Materials
Air Canada (TSX:AC),19197,18065.000000,5.0,Industrials
Alamos Gold Inc. (TSX:AGI),4455,889.400024,4.0,Materials
Algonquin Power & Utilities Corp. (TSX:AQN),12811,2247.899902,2.0,Utilities
Alimentation Couche-Tard Inc. (TSX:ATD.B),30426,79562.796875,3.0,Consumer Staples

In [47]:
# Describe and summarize
df.describe().round(1) # automatically selects numeric columns, ignores nans

       TotalAssets  TotalRevenue  GeographicSegments
count        132.0         132.0               124.0
mean       79793.3       11634.7                 4.8
std       218163.2       15739.7                 4.2
min          261.1          15.7                 1.0
25%         5077.7        1683.9                 2.0
50%        11690.3        5005.6                 3.5
75%        35186.8       14151.5                 6.0
max      1334903.0       79975.7                24.0

In [48]:
# The describe method is also implemented for pandas series
# See what happens when you ask pandas to describe a categorical variable (same result for any object type series)
df.PrimarySector.describe()

count            132
unique            11
top       Financials
freq              21
Name: PrimarySector, dtype: object

In [49]:
df.PrimarySector.value_counts()

Financials                21
Materials                 19
Energy                    18
Industrials               17
Utilities                 12
Real Estate               11
Consumer Discretionary     9
Consumer Staples           8
Information Technology     6
Communication Services     6
Health Care                5
Name: PrimarySector, dtype: int64

In [50]:
# Integer position based indexing - "iloc"
# Reference: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html

print(df.iloc[1]) # first row
print()
print(df.iloc[-1]) # last row
print()
print(df.iloc[:5,1]) # first five rows of first column

Name                  Air Canada (TSX:AC)
TotalAssets                         19197
TotalRevenue                        18065
GeographicSegments                      5
PrimarySector                 Industrials
Name: TSX:AC, dtype: object

Name                  Yamana Gold Inc. (TSX:YRI)
TotalAssets                              10933.9
TotalRevenue                              2454.1
GeographicSegments                             5
PrimarySector                          Materials
Name: TSX:YRI, dtype: object

Ticker
NYSE:AEM     10715.500000
TSX:AC       19197.000000
TSX:AGI       4455.500000
TSX:AQN      12811.599609
TSX:ATD.B    30426.300781
Name: TotalAssets, dtype: float32

In [51]:
# Label based indexing
# Reference:https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

print(df.loc['TSX:RY']) #get row with info on RBC
print()
print(df.loc['TSX:RY','GeographicSegments']) # get number of geographic segments at RBC

Name                  Royal Bank of Canada (TSX:RY)
TotalAssets                             1.33473e+06
TotalRevenue                                  41269
GeographicSegments                                3
PrimarySector                            Financials
Name: TSX:RY, dtype: object

3.0

In [52]:
df.loc['TSX:RY','TotalRevenue':'PrimarySector']

TotalRevenue               41269
GeographicSegments             3
PrimarySector         Financials
Name: TSX:RY, dtype: object

In [53]:
# Select a column - three ways to do the same thing
print(df.Name[:3])
print(df['Name'][:3])
print(df.loc[:,'Name'][:3])

Ticker
NYSE:AEM    Agnico Eagle Mines Limited (NYSE:AEM)
TSX:AC                        Air Canada (TSX:AC)
TSX:AGI                Alamos Gold Inc. (TSX:AGI)
Name: Name, dtype: object
Ticker
NYSE:AEM    Agnico Eagle Mines Limited (NYSE:AEM)
TSX:AC                        Air Canada (TSX:AC)
TSX:AGI                Alamos Gold Inc. (TSX:AGI)
Name: Name, dtype: object
Ticker
NYSE:AEM    Agnico Eagle Mines Limited (NYSE:AEM)
TSX:AC                        Air Canada (TSX:AC)
TSX:AGI                Alamos Gold Inc. (TSX:AGI)
Name: Name, dtype: object

In [54]:
# Select multiple columns
print(df[['Name','PrimarySector']].head(3))
print()
print(df.filter(like='Total').head(3))

                                           Name PrimarySector
Ticker
NYSE:AEM  Agnico Eagle Mines Limited (NYSE:AEM)     Materials
TSX:AC                      Air Canada (TSX:AC)   Industrials
TSX:AGI              Alamos Gold Inc. (TSX:AGI)     Materials

          TotalAssets  TotalRevenue
Ticker
NYSE:AEM      10715.5   2990.000000
TSX:AC        19197.0  18065.000000
TSX:AGI        4455.5    889.400024

In [55]:
# Exercise:
# Get info for the following tickers: 'TSX:RY', 'TSX:BMO', 'TSX:TD'
tickers = ['TSX:RY', 'TSX:BMO', 'TSX:TD']
df.loc[tickers,:]

# Get the 25th and 26th rows and the Name & PrimarySector columns


df.iloc[24:26][['Name','PrimarySector']]
df[['Name','PrimarySector']].iloc[24:26]
df.iloc[24:26].loc[:,['Name','PrimarySector']]

df.iloc[24:26][['Name','PrimarySector']]
df[['Name','PrimarySector']].iloc[24:26]

                                           Name           PrimarySector
Ticker
TSX:CCO            Cameco Corporation (TSX:CCO)                  Energy
TSX:GOOS  Canada Goose Holdings Inc. (TSX:GOOS)  Consumer Discretionary

In [56]:
df.TotalAssets.describe()

count    1.320000e+02
mean     7.979331e+04
std      2.181632e+05
min      2.611000e+02
25%      5.077725e+03
50%      1.169030e+04
75%      3.518675e+04
max      1.334903e+06
Name: TotalAssets, dtype: float64

In [57]:
# Sorting
df.sort_values('TotalAssets').head()

,Name,TotalAssets,TotalRevenue,GeographicSegments,PrimarySector
Ticker,,,,,
TSX:CRON,Cronos Group Inc. (TSX:CRON),261.100006,15.700000,2.0,Health Care
TSX:GOOS,Canada Goose Holdings Inc. (TSX:GOOS),725.400024,830.500000,3.0,Consumer Discretionary
TSX:DSG,The Descartes Systems Group Inc (TSX:DSG),858.900024,361.700012,4.0,Information Technology
TSX:BYD.UN,Boyd Group Income Fund (TSX:BYD.UN),1233.500000,1864.599976,2.0,Industrials
TSX:FSV,FirstService Corporation (TSX:FSV),1374.699951,2635.600098,2.0,Real Estate

In [58]:
print(df.nlargest(3,'TotalRevenue')[['Name','TotalRevenue']])
print(df.nsmallest(3,'TotalRevenue')[['Name','TotalRevenue']])

                                                   Name  TotalRevenue
Ticker
TSX:BAM.A  Brookfield Asset Management Inc. (TSX:BAM.A)  79975.703125
TSX:ATD.B     Alimentation Couche-Tard Inc. (TSX:ATD.B)  79562.796875
TSX:MG                Magna International Inc. (TSX:MG)  55710.101562
                                          Name  TotalRevenue
Ticker
TSX:CRON          Cronos Group Inc. (TSX:CRON)     15.700000
TSX:ACB         Aurora Cannabis Inc. (TSX:ACB)     55.200001
TSX:WEED  Canopy Growth Corporation (TSX:WEED)    226.300003

In [59]:
# Boolean indexing
bool_series=df.TotalAssets>9000
bool_series[:5]

Ticker
NYSE:AEM      True
TSX:AC        True
TSX:AGI      False
TSX:AQN       True
TSX:ATD.B     True
Name: TotalAssets, dtype: bool

In [60]:
# Slicing based on conditions
df.loc[df.TotalAssets>9000,['Name','TotalAssets']].head()

                                                  Name   TotalAssets
Ticker
NYSE:AEM         Agnico Eagle Mines Limited (NYSE:AEM)  10715.500000
TSX:AC                             Air Canada (TSX:AC)  19197.000000
TSX:AQN    Algonquin Power & Utilities Corp. (TSX:AQN)  12811.599609
TSX:ATD.B    Alimentation Couche-Tard Inc. (TSX:ATD.B)  30426.300781
TSX:ALA                         AltaGas Ltd. (TSX:ALA)  23487.699219

In [61]:
# Exercise
# 1. Get the ticker and name ONLY for the company that has the most geographic segments
most_segments = df.nlargest(1, 'GeographicSegments')
print(most_segments.Name)
most_segments_ticker = most_segments.index
print(most_segments_ticker)

Ticker
TSX:FM    First Quantum Minerals Ltd. (TSX:FM)
Name: Name, dtype: object
Index(['TSX:FM'], dtype='object', name='Ticker')
Ticker
TSX:FM    Materials
Name: PrimarySector, dtype: category
Categories (11, object): [Communication Services, Consumer Discretionary, Consumer Staples, Energy, ..., Information Technology, Materials, Real Estate, Utilities]

In [62]:
# 2. Use the index of the company found in step 1 to get its primary sector 

print(most_segments.PrimarySector)

m = df.loc[most_segments_ticker,'PrimarySector'].values

In [63]:
# 3. Create a new dataframe containing only companies in the same sector as the company in question
# 4. What is the shape of this new dataframe? 

materials = df.loc[df.PrimarySector=='Materials']
materials.shape

(19, 5)

In [64]:
# 5. Does the shape match the information shown by df.PrimarySector.value_counts()?

df.PrimarySector.value_counts()

Financials                21
Materials                 19
Energy                    18
Industrials               17
Utilities                 12
Real Estate               11
Consumer Discretionary     9
Consumer Staples           8
Information Technology     6
Communication Services     6
Health Care                5
Name: PrimarySector, dtype: int64

In [65]:
# 6. Sort the dataframe created in step 3 by total revenue (in place) and view the top 5 companies

materials = materials.sort_values('TotalRevenue')
materials.head(3)

,Name,TotalAssets,TotalRevenue,GeographicSegments,PrimarySector
Ticker,,,,,
TSX:FNV,Franco-Nevada Corporation (TSX:FNV),6729.600098,888.200012,7.0,Materials
TSX:AGI,Alamos Gold Inc. (TSX:AGI),4455.500000,889.400024,4.0,Materials
TSX:DGC,Detour Gold Corporation (TSX:DGC),3367.699951,1058.900024,1.0,Materials

In [ ]:
# 7. Create a third dataframe from the sorted dataframe (step 6) with ..
#only two columns: "TotalAssets" and "TotalRevenue"
# and exclude companies with less than 4 geographic segments

mini_sector_df = materials.loc[materials.GeographicSegments>=4., ['TotalAssets','TotalRevenue']]

In [ ]:
# 8. How many companies were excluded? 

print(mini_sector_df.shape)
print('Number of companies excluded is ', len(sector_df)-len(mini_sector_df))
print()

In [ ]:
# 9. Print the summary statistics (count, mean, std etc.) of the dataframe created in step 7.

print(mini_sector_df.describe())

In [66]:
# Dealing with missing values
df.isna().any() # identify which variables contain missing values

Name                  False
TotalAssets           False
TotalRevenue          False
GeographicSegments     True
PrimarySector         False
dtype: bool

In [67]:
df.loc[df.GeographicSegments.isna(),['Name','GeographicSegments']]

                                                    Name  GeographicSegments
Ticker
TSX:CNQ     Canadian Natural Resources Limited (TSX:CNQ)                 NaN
TSX:CSH.UN  Chartwell Retirement Residences (TSX:CSH.UN)                 NaN
TSX:EMP.A             Empire Company Limited (TSX:EMP.A)                 NaN
TSX:IAG          iA Financial Corporation Inc. (TSX:IAG)                 NaN
TSX:IPL                    Inter Pipeline Ltd. (TSX:IPL)                 NaN
TSX:PAAS            Pan American Silver Corp. (TSX:PAAS)                 NaN
TSX:PPL           Pembina Pipeline Corporation (TSX:PPL)                 NaN
TSX:SLF                Sun Life Financial Inc. (TSX:SLF)                 NaN

In [68]:
df.GeographicSegments = df.GeographicSegments.fillna(0) 

df.GeographicSegments.isna().any() # check if we succeeded

False

In [69]:
df.GeographicSegments = df.GeographicSegments.astype('int')

In [70]:
# Arithmetic & aggregation

numeric_df = df.select_dtypes(include='number')
print(numeric_df.head())

            TotalAssets  TotalRevenue  GeographicSegments
Ticker
NYSE:AEM   10715.500000   2990.000000                   5
TSX:AC     19197.000000  18065.000000                   5
TSX:AGI     4455.500000    889.400024                   4
TSX:AQN    12811.599609   2247.899902                   2
TSX:ATD.B  30426.300781  79562.796875                   3

In [71]:
numeric_df.apply(np.log).head().round(1) # applies function to each cell

           TotalAssets  TotalRevenue  GeographicSegments
Ticker
NYSE:AEM           9.3           8.0                 1.6
TSX:AC             9.9           9.8                 1.6
TSX:AGI            8.4           6.8                 1.4
TSX:AQN            9.5           7.7                 0.7
TSX:ATD.B         10.3          11.3                 1.1

In [72]:
numeric_df.sum() # defaults to summing over axis=0/axis='rows'

TotalAssets           1.053272e+07
TotalRevenue          1.535778e+06
GeographicSegments    5.970000e+02
dtype: float64

In [73]:
numeric_df.sum(axis='columns')[:5]

Ticker
NYSE:AEM      13710.500000
TSX:AC        37267.000000
TSX:AGI        5348.900024
TSX:AQN       15061.499512
TSX:ATD.B    109992.097656
dtype: float64

In [74]:
numeric_df.sum(axis=1)[:5] # same as NumPy (and as above)

Ticker
NYSE:AEM      13710.500000
TSX:AC        37267.000000
TSX:AGI        5348.900024
TSX:AQN       15061.499512
TSX:ATD.B    109992.097656
dtype: float64

In [75]:
print(numeric_df.loc['NYSE:AEM'])
10715.5+2990+5 # check pandas sum of numeric variables

TotalAssets           10715.5
TotalRevenue           2990.0
GeographicSegments        5.0
Name: NYSE:AEM, dtype: float64

13710.5

In [76]:
a=df.TotalAssets*2
print(a[:5])

Ticker
NYSE:AEM     21431.000000
TSX:AC       38394.000000
TSX:AGI       8911.000000
TSX:AQN      25623.199219
TSX:ATD.B    60852.601562
Name: TotalAssets, dtype: float32

In [77]:
b=df.TotalAssets*df.GeographicSegments # elementwise multiplication
b[:5]

Ticker
NYSE:AEM     53577.500000
TSX:AC       95985.000000
TSX:AGI      17822.000000
TSX:AQN      25623.199219
TSX:ATD.B    91278.902344
dtype: float64

In [78]:
pd.DataFrame([[1,1],[2,2]]) @ pd.DataFrame([[1,1],[2,2]]) # Refer to NumPy materials for more

   0  1
0  3  3
1  6  6

In [79]:
# Groupby
# References: 
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html, 
# https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

group = df.groupby(['PrimarySector']).median().round(1).sort_values('TotalAssets', ascending=False)
print(type(df.groupby(['PrimarySector'])))
print(type(group))
group

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
<class 'pandas.core.frame.DataFrame'>

                          TotalAssets  TotalRevenue  GeographicSegments
PrimarySector
Financials              271827.000000  24231.099609                 3.0
Utilities                23415.800781   4316.799805                 3.0
Communication Services   23171.000000   9667.000000                 1.0
Energy                   16199.500000   7398.600098                 2.0
Real Estate              10453.099609   1083.199951                 2.0
Consumer Staples         10403.900391  19816.400391                 2.0
Industrials               7766.600098   6996.000000                 4.0
Materials                 7027.600098   2454.100098                 5.0
Information Technology    4589.399902   2608.500000                 5.5
Consumer Discretionary    4094.800049   3964.000000                 6.0
Health Care               3318.800049    226.300003                 2.0

In [80]:
# Pivot table
pivot_df = df.pivot_table(values=['TotalAssets','TotalRevenue'],index=['PrimarySector'],aggfunc=np.mean).round(1).sort_values('TotalAssets', ascending=False)
print(type(pivot_df))
pivot_df

<class 'pandas.core.frame.DataFrame'>

                          TotalAssets  TotalRevenue
PrimarySector
Financials              396182.000000  24718.099609
Energy                   35740.500000  13658.599609
Utilities                25889.800781   4208.399902
Communication Services   25534.300781  10750.400391
Real Estate              23424.500000   2188.699951
Consumer Staples         17547.699219  29310.000000
Industrials              14655.500000  10309.500000
Materials                13551.000000   4859.899902
Consumer Discretionary   11894.099609  10514.799805
Health Care              11711.799805   2520.000000
Information Technology    5901.899902   3741.899902

In [81]:
df.pivot_table(values=['TotalAssets','TotalRevenue'],columns=['PrimarySector'],aggfunc=np.mean).round(1)

PrimarySector,Communication Services,Consumer Discretionary,Consumer Staples,Energy,Financials,Health Care,Industrials,Information Technology,Materials,Real Estate,Utilities
TotalAssets,25534.300781,11894.099609,17547.699219,35740.500000,396182.000000,11711.799805,14655.5,5901.899902,13551.000000,23424.500000,25889.800781
TotalRevenue,10750.400391,10514.799805,29310.000000,13658.599609,24718.099609,2520.000000,10309.5,3741.899902,4859.899902,2188.699951,4208.399902

In [ ]:
# Exercise
# Get the median value total assets value for each sector in the dataset, use either groupby or pivot_table

In [82]:
# Assigning new data
df['AssetsInBillions'] = np.round(df.TotalAssets/1000) # create a new column
df.head()

,Name,TotalAssets,TotalRevenue,GeographicSegments,PrimarySector,AssetsInBillions
Ticker,,,,,,
NYSE:AEM,Agnico Eagle Mines Limited (NYSE:AEM),10715.500000,2990.000000,5,Materials,11.0
TSX:AC,Air Canada (TSX:AC),19197.000000,18065.000000,5,Industrials,19.0
TSX:AGI,Alamos Gold Inc. (TSX:AGI),4455.500000,889.400024,4,Materials,4.0
TSX:AQN,Algonquin Power & Utilities Corp. (TSX:AQN),12811.599609,2247.899902,2,Utilities,13.0
TSX:ATD.B,Alimentation Couche-Tard Inc. (TSX:ATD.B),30426.300781,79562.796875,3,Consumer Staples,30.0

In [83]:
# If a company has the number of geographic segments listed as 0, change it to it's median

print(len(df.loc[df.GeographicSegments==0]))
df.loc[df.GeographicSegments==0,'GeographicSegments'] = df.GeographicSegments.median()
print(len(df.loc[df.GeographicSegments==0]))

8
0

In [84]:
# Exercise:
# Correct the total assets figure for TSX:RNW from 3747 to 3477

In [ ]:
# Create a new column that gives the average revenue per geographic segment (Revenue/Segment)

In [ ]:
# Which sectors have the largest and smallets asset bases (get the sum of TotalAssets by industry)?